.search {
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 20px;
	border: 2px solid black;
	border-radius: 20px;
	height: 50px;
	margin-bottom: 20px;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #ECDFF580;
}

.card {
	background-color: #ECDFF5;
	border-radius: 10px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
	padding: 10px;
	text-align: center;
	width: 600px;
	max-width: 860px;
	margin-left: auto;
	margin-right: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	margin-top: 10px;
	font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 768px) {
	.card {
		width: 100%;
		max-width: 100%;
	}
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.column {
	display: flex;
	flex-direction: column;
}